@charset "utf-8";

body{
    margin-top: -8px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    box-shadow: black 0px -5px 30px 0px  ;
    margin-bottom: 0px;
    background-color: white;
    
}

header ul{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 28px;
    list-style-type: none;
    float: right;

}
header li{
    display: inline-block;
    margin-left: 25px;

}

header li a{
    display: block;
    padding: 17px;
    border-radius: 15px;
    width: 125px;
    text-align: center;
    line-height: 0px;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

header li a.filled{
    color: white;
    background-color: #6EBEAF;
    border: 1px solid black;
}

header li a.unfilled{
    border: 1px solid black;
    color: #65558F;

}

div.container{
    width: 100%;
    height: 100%;
}
main div#blue{
    display: inline-block;
    width: 100%;
    height: 90vh;
    margin-top: 30px;
    background-color: #6B78EA;
    background-image:  url("imgs/background/aviao\ sem\ bg.gif"),url("imgs/background/background.png");
    background-position-x:100%;
    background-position-y: 100%, 100%;
    background-repeat: no-repeat;
    background-size: 75%;

}

main a#startnowGreen{
    background-color: #AFF4C6;
    color: #0F4E05;
    text-decoration: none;
    font-size: 40px;
    width: 500px;
    margin-right: 15%;
    float: right;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #0F4E05;
    margin-top: 350px;
}
main h1.title{
    font-size: 64px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
main h2.subtitle{
    font-size: 38px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 75px;
}


main a#startnowBlue{
    display: block;
    background-color: #6B78EA;
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    width: 500px;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #0F4E05;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    
}

fieldset.whiteTextBalloon{
    background-color: white;
    border: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 30px;
    border-radius: 0px 100px 100px 100px;
    width: 35%;

    text-align: center;
    padding-bottom: 80px;

}

fieldset.whiteTextBalloon h1{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 50px;
    
    font-style: italic;
}

fieldset.whiteTextBalloon h2{
    font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30;
    
}

div.balloons{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 100px;
}

fieldset.blueTextBalloon, fieldset.greenTextBalloon{
    width: 30%;
    border: none;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    margin-bottom: 300px;
    margin-top: 150px;
    font-size: 38px;
    line-height: normal;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;

}


fieldset.greenTextBalloon{
    background-color: #AFF4C6;
    

}

fieldset.blueTextBalloon{
    background-color: #94BFFF;
    
    

}

.alignToRight{  
    text-align: right;
    float: right;
    border-top-right-radius: 90px;
    padding-left: 0px;


}

.alignToLeft{
    text-align: left;
    margin-left: 15%;
    margin-right: auto;
    border-top-left-radius: 90px;
    padding-right: 0px;



}

section#instructors{
    width: 100%;

    background-image: url(imgs/background/instructor.png);
    background-repeat: no-repeat;
    background-position-x: calc(77%);
    background-position-y: 10%;
    background-size: 700px;
}

section#interactiveExercises{
    width: 100%;

    background-image: url(imgs/background/ia.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 0px;
    background-size: 700px;
    display: block;
    float: right;

}

section#ia{
    width: 100%;
    background-image: url(imgs/background/ia.png);
    background-repeat: no-repeat;
    background-position-x: calc(77%);
    background-position-y: 90%;
    background-size: 700px;

}


section#prizes{
    width: 100%;

    background-image: url(imgs/background/prizes.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 0px;
    background-size: 700px;
    float: right;
}


footer{
    background-color: #7DE5A0;
    width: 100%;
    height: 70%;
    padding-top: 40px;
    display: block;
    position: absolute;
    transform: translate();
    background-image: url(imgs/background/logo_black.png), url(imgs/background/microsoft_logo_black.png), url(imgs/background/cps_logo_black.png),
    url(imgs/background/cisco_logo_black.png), url(imgs/background/ibm_logo_black.png), url(imgs/background/cambridge_logo_black.png);
    background-position-x:  100%, 10%, 28%, 50%, 74%, 96%;
    background-position-y:  0%, 90%, 88%, 88%, 89%, 91%;

    background-repeat: no-repeat;
}

footer table{
    display: block;
    height: 10%;

}
footer td{
    width: 325px;
    text-align: center;
    border-right: 1px solid black;
    font-weight: bolder;
    padding-left: 75px;
    
}


footer td.title{
    font-size: 39px;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 40px;
}

footer td.title#support{
    padding-right: 50px;
}

footer td.subtitle{
    text-align: left;
    font-size: 20px;


}

a.noDecoration{
    text-decoration: none;
    color: black;

}