@charset "utf-8";
/*header*/

body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: JetBrainsMono-Regular;
    src: url("../fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
    font-family: JetBrainsMono-Thin;
    src: url("../fonts/JetBrainsMono-Thin.ttf");
}

@font-face {
    font-family: JetBrainsMono-Bold;
    src: url("../fonts/JetBrainsMono-Bold.ttf");
}

header a, h1, button{
    font-family: JetBrainsMono-Bold;
}

p{
    font-family: JetBrainsMono-Regular;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    box-shadow: black 0px -5px 30px 0px  ;
    margin-bottom: 0px;
    background-color: white;

    background-image: url("../imgs/icons/prime_language.png");
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-size: 50px;
    z-index: 5;
    
}

header ul#info{
    margin-left: -3%;
    margin-right: 15%;
    list-style-type: none;
    float: right;
    margin-top: 10px;

}



header ul#pages{
    float: left;
    margin-left: 20dvw;
    margin-top: 0.5%;
}

header li{
    display: inline-block;
    margin-left: 50px;
}

header li:first-child{
    margin-left: -40px;
}

header li a{
    display: block;
    padding: 17px;
    border-radius: 15px;
    width: 125px;
    text-align: center;
    line-height: 0px;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;

    color: black;
}

header li a.filled{
    background-color: #5CDC8F;
}

header li a::before{
    content: "";
    float: left;
    width: 40px;
    height: 30px;
    margin-top: -15px;
}

header li#learn a::before{
    background-image: url("../imgs/icons/learn.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-size: 70%;
    margin-left: -10px;

}
header li#community a{
    width: 175px;

}
header li#community a::before{
    background-image: url("../imgs/icons/community.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 3px;
    background-size: 90%;
    margin-left: 0px;

}

header li#courses a::before{
    background-image: url("../imgs/icons/courses.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0px;
    background-size: 70%;
    margin-right: -10px;
    margin-left: -5px;
}


header li a.unfilled{
    border: 1px solid black;
    color: #65558F;

}

header li img#avatar{
    margin-top: -15px;
    width: 45px;
    height: 45px;
    border-radius: 100000px;

    object-fit: cover;
}

header li img#flag{
    width: 45px;

    transform: translateY(-20%);

    border: 1px solid gray;
    border-radius: 5px;
    object-fit: cover;
}

header li img#streak{
    transform: translateY(-10%);
    width: 30px;

}

h1{
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

div.module{
    display: block;
    height: fit-content;
    width: 35dvw;
    border: 1px solid black;
    border-radius: 50px;
    padding: 3%;
    box-shadow: gray 2px 3px 5px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 100px;
}

.module h2{
    font-weight: normal;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: rgb(211, 211, 211) 0px 3px 2px 1px;
    margin-bottom: 50px;
}

.lesson{
    display: inline-block;
    height: 100px;
    width: 100%;
}

.lesson img{
    width: 75px;
    height: 75px;
    float: left;
    border-radius: 10000px;
    margin-top: 10px;
    border: 3px solid black;

}

.lesson.alignRight img,
.lesson.alignRight h3,
.lesson.alignRight h4{
    float: right;
    text-align: right;
}

.lesson h3{
    margin-left: 90px;
    margin-right: 15px;
}

.lesson h4{
    font-weight: 400;
    color: rgb(124, 124, 124);
    margin-top: -15px;
    margin-left: 90px;
    margin-right: 90px;
    width: 75%;
}
.lesson.alignRight h4{
    margin-top: -40px;
}

.arrow::before{
    content: "";
    display: block;
    margin-left: -5px;
    margin-right: 40px;
    border: inherit;
    border-color: transparent transparent black black;
    border-radius: 0px 0px 0px 25px;
    height: 30px;
    margin-top: -30px;
    width: calc(100% - 5px);
    margin-bottom: 25px;
    
}

.arrow{
    content: "";
    display: block;
    margin-left: 35px;
    margin-right: 40px;
    border: 5px solid black;
    border-color: transparent  black transparent transparent;
    border-radius: 0px 35px;
    height: 70px;
    margin-top: 20px;
}

.arrow::after{
    content: "";
    display: block;
    border: inherit;
    width: 15px;
    height: 15px;
    z-index: -5;
    transform: rotate(-45deg);
    float: right;
    margin-right: -15px;
    margin-top: 15px;
    border-color: transparent transparent black black;
}

.arrow.alignRight::before{
    width: 100%;
    margin-left: -0px;
    border-color: transparent black black transparent;
    border-radius: 0px 0px 15px 0px;
    margin-top: -32px;
    
}

.arrow.alignRight{
    margin-left: 0px;
    margin-top: 20px;
    margin-left: 35px;
    border-color: transparent transparent transparent black;
    border-radius: 30px 0px 0px 0px;
}

.arrow.alignRight::after{
    float: left;
    margin-left: -15px;
}

.idioma{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 25%, 25%;
    border-radius: 100000px;
    border: 5px solid rgb(255, 255, 255);

    margin-left: 150px;
}

#ingles{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin-bottom: -2000px;

    transform: translateY(-75%);
}

.titulo{
    margin-top: 150px;
    margin-bottom: -120px;
}

.space_cards{
    margin-left: 150px;
    margin-top: 60px;
    width: 90dvw;
    height: auto;
    display: inline-block;
}
.cards{
    margin-right: 40px;
    display: inline-block;
    width: 350px;
    height: 250px;
    border-radius: 30px;
    background-color: #eeecec;
    background-repeat: no-repeat;

}
.cards td:hover{
    background-color: #eefeff;
}
.cards h1{
    font-size: medium;
    color: black;
    text-shadow: 0px 0px 3px white;
    font-weight: 10000;
    text-align: center;

}
.cards h2{
    font-size: small;
    text-shadow: 0px 0px 3px white;
    font-weight: 500;
    text-align: left;

}
.cards h3{
    font-size: smaller;
    text-shadow: 0px 0px 3px white;
    text-align: left;
    font-weight: 500;

}


.cards .text{
    width: 60%;
    float: right;
}

#liberdade{
    background-image: url("../imgs/background/the_statue_of_liberty.png");
    background-size: 350px;

}
#vocabulario{
    background-image: url("../imgs/background/vocabulary.png");
    background-size: 150px;
}

.butao{
    background-color: #8993F1;
    border: #8993F1 solid;
    border-radius: 10px;
    margin-left: 100px;
    cursor: pointer;
}
#tdcu{
    margin-left: 150px;
}
#andamento{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-bottom: -50px;
    margin-left: 150px;

}
.space_cards2{
    width: 300dvw;
    height: 600dvh;
    height: auto;
    display: flex;
}

#pronuncia{
    background-image: url("../imgs/background/pronunciation.png");
    background-size: 250px;

}
#cps{
    background-image: url("../imgs/background/cps_logo.png");
    background-size: 250px;
    background-position-y: 50px;

}
#gramatica{
    background-image: url("../imgs/background/grammar.png");
    background-size: 200px;
    background-repeat: no-repeat;
    transform: translateY(-3px);
}
#viagens{
    background-image: url("../imgs/background/travels.png");
    background-size: 290px;
    background-repeat: no-repeat;
}

.container{
    width: 100dvw;
    margin-left: 0px;
}
.community{
    display: block;
    position: relative;
    width: 40%;
    height: fit-content;
    margin: auto;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    padding: 20px 100px 20px 100px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.community .info{
    display: block;
    position: relative;
    height: 90dvh;
    width: 100%;

    background-image: url("../imgs/background/community.png");
    background-size: 750px;
    background-position-y: 150px;
    background-repeat: no-repeat;
}

.community .info p{
    margin-top: 100%;
    transform: translateY(-120%);
    font-size: x-large;
    text-align: justify;
}

.community ul{
    width: fit-content;
    align-items: left;
}
.community li{
    display: inline;
}

.community li:first-child{
    margin-left: -45px;
    margin-right: 20px;

}

.community button{
    border: 0px;
    background-color: transparent;
    font-size: 30px;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;

}

.community button:hover{
    cursor: pointer;
}

.community button.filled{
    background-color: #00B593;
    border: 1px solid black;

}

.community .explore .card{
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 300px;
    border-radius: 30px;
    margin-top: 75px;
    margin-bottom: 75px;
    border: 1px solid black;

}

.community .explore .card h1,
.community .explore .card h2,
.community .explore .card h3,
.community .explore .card p,
.community .explore .card img {
    display: inline-flex;
}

.community .explore .card img.avatar {
    width: 125px;
    height: 125px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    object-fit: cover;
    object-position: 25%, 25%;
    float: left;
    border: 1px solid black;


    
}

.community .explore .card h1 {
    margin-top: -0px;
    margin-bottom: 10px;
    

}

.community .explore .card h4 {
    width: 100%;
    text-align: center;
    margin-top: -1px;
    margin-bottom: 40px;
}


.community .explore .card .falaAprende {
    margin-top: 50px;
    height: fit-content;
    width: 100%;
    display: inline-block;
}

.community .explore .card .falaAprende img {
    width: 40px;
    border-radius: 10px;
    transform: translateY(25%);
    border: 1px solid black;
}



.community .explore .card h2 {
    font-size: 17px;
    font-weight: normal;

}

.community .explore .card h4 {
    color: rgb(131, 131, 131);
    font-weight: normal;
}

.community .explore .card h2#learning {

    margin-left: 15px;

}

.community .friends{
    display: none;
}