@charset "utf-8";
:root{
    --margin-left: Calc(50% - 20dvw);
    --margin-right: Calc(50% + 20dvw);
    --CarrouselFlagAmount: 0;
    --CarrouselFlagSlide: 6;
}

@font-face {
    font-family: AkiraExpanded;
    src: url("../fonts/Akira\ Expanded.otf");
}

@font-face {
    font-family: JetBrainsMono-Regular;
    src: url("../fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
    font-family: JetBrainsMono-Thin;
    src: url("../fonts/JetBrainsMono-Thin.ttf");
}

@font-face {
    font-family: JetBrainsMono-Bold;
    src: url("../fonts/JetBrainsMono-Bold.ttf");
}


body{
    margin-top: -8px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

div.container{
    width: 100%;
    height: 100%;
}

h1, a.button{
    font-family: AkiraExpanded;
}

h2, p{
    font-family: JetBrainsMono-Regular;
    
}

footer td{
    font-family: JetBrainsMono-Bold;
}

footer a{
    font-family: JetBrainsMono-Thin;

}

/*header*/

header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    box-shadow: black 0px -5px 30px 0px  ;
    margin-bottom: 0px;
    background-color: white;

    background-image: url("../imgs/icons/prime_language.png");
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-size: 75px;
    
}

header ul{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    list-style-type: none;
    float: right;

}
header li{
    display: inline-block;
    margin-left: 25px;

}

header li a{
    display: block;
    padding: 17px;
    border-radius: 15px;
    width: 125px;
    text-align: center;
    line-height: 0px;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

header li a.filled{
    color: white;
    background-color: #6EBEAF;
    border: 1px solid black;
}

header li a.unfilled{
    border: 1px solid black;
    color: #65558F;

}


/* blue div */

main div#blue{
    display: inline-block;
    width: 100%;
    height: 80vh;
    margin-top: 30px;
    background-color: #6B78EA;
    background-image:  url("../imgs/background/aviao\ sem\ bg.gif"),url("../imgs/background/background.png");
    background-position-x:100%;
    background-position-y: 100%, 100%;
    background-repeat: no-repeat;
    background-size: 75%;

}

div.whiteTextBalloon{
    background-color: white;
    border: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    padding: 5%;
    border-radius: 0px 15% 15% 15%;
    width: 30%;
    height: 40%;

    text-align: center;
    padding-bottom: 5%; 


}



div.whiteTextBalloon h1{
    margin-top: -8%;
    font-size: 2.5vw;
    margin-bottom: 10%;
}

div.whiteTextBalloon h2{
    font-size: 1.5vw;
    font-weight: normal;
}

main a#startnowGreen{
    background-color: #AFF4C6;
    color: #0F4E05;
    text-decoration: none;
    font-size: 2.5dvw;
    line-height: 100%;
    width: 25%;
    height: 3dvw;
    margin-right: 15%;
    float: right;
    text-align: center;
    padding: 15px;
    border-radius: 3vw;
    font-weight: bolder;
    border: 3px solid #0F4E05;
    margin-top: -15%;
}


/*carrousel*/

div.languages{
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: flex;
    overflow: hidden;

    object-fit: fill;
    object-position: 1000% 10%;


}

div.language:not(:last-child){
    margin-right: 30px;
}


div.language:first-child{
    transition: 1s;
   margin-left: calc(-115px * var(--CarrouselFlagAmount)); 
}
div.language img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: 25%, 25%;
    border-radius: 100000px;
    border: 5px solid rgb(226, 247, 255);
}


button{
     background-color: white;
     border: none;
     font-weight: 500px;
     font-size: 50px;
     color: #707070;
}

button:hover{
    cursor: pointer;
}

button#btnRight{
    float: right;

    margin-top: -70px;
    margin-right:  calc(50% - 400px);

}

button#btnLeft{
    float: left;

    margin-top: -70px;
    margin-left:  calc(50% - 400px);

}

/*titles*/

main h1.title{
    font-size: 48px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
main h2.subtitle{
    font-size: 30px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 75px;
    font-weight: normal;

}


main a#startnowBlue{
    display: block;
    background-color: #6B78EA;
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    width: 500px;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #0F4E05;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    
}

/*balloons*/

div.balloons{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 100px;
}

div.blueTextBalloon, div.greenTextBalloon{
    width: 30%;
    border: none;
    margin-left: 15dvw;
    margin-right: 15dvw;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    margin-bottom: 15%;
    margin-top: 10%;
    font-size: 150%;
    line-height: normal;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;

}


div.greenTextBalloon{
    background-color: #AFF4C6;
    

}

div.blueTextBalloon{
    background-color: #94BFFF;
    
    

}

.alignToRight{  
    text-align: center;
    float: right;
    border-top-right-radius: 90px;
    padding-left: 15px;


}

.alignToLeft{
    text-align: center;
    margin-left: 15%;
    margin-right: auto;
    border-top-left-radius: 90px;
    padding-right: 15px;



}



section#instructors{
    width: 100%;

    background-image: url(../imgs/background/instructor.png);
    background-repeat: no-repeat;
    background-position-x: var(--margin-right);
    background-position-y: 25%;
    background-size: 600px;
    
}

section#interactiveExercises{
    width: 100%;

    background-image: url(../imgs/background/interactive\ exercises.png);
    background-repeat: no-repeat;
    background-position-x: var(--margin-left);
    background-position-y: 15dvh;
    background-size: 600px;
    display: block;
    float: right;

}

section#ia{
    width: 100%;
    background-image: url(../imgs/background/ia.png);
    background-repeat: no-repeat;
    background-position-x: var(--margin-right);
    background-position-y: 75%;
    background-size: 600px;

}


section#prizes{
    width: 100%;

    background-image: url(../imgs/background/prizes.png);
    background-repeat: no-repeat;
    background-position-x: var(--margin-left);
    background-position-y: 12dvh;
    background-size: 600px;
    float: right;
}

/*pesao*/

footer{
    background-color: #7DE5A0;
    width: 100%;
    height: fit-content;
    padding-top: 40px;
    display: block;
    transform: translate();
    background-image: url(../imgs/background/logo_black.png), url(../imgs/background/microsoft_logo_black.png), url(../imgs/background/cps_logo_black.png),
    url(../imgs/background/cisco_logo_black.png), url(../imgs/background/ibm_logo_black.png), url(,,/imgs/background/cambridge_logo_black.png);
    background-position-x:  90%, 10%, 28%, 50%, 74%, 96%;
    background-position-y:  20%, 90%, 88%, 88%, 89%, 91%;

    background-size: 300px, 100px, 150px, 150px, 150px, 200px;

    
    background-repeat: no-repeat;
    margin-bottom: -8px;
}





footer table{
    display: inline-block;
    height: 350px;
    border-right: 1px solid black;
    margin-top: -5px;
    margin-bottom: 175px;

}



footer td{
    width: 325px;
    text-align: center;
    font-weight: bolder;
    padding-left: 75px;
    
}


footer td.title{
    font-size: 39px;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 40px;
}

footer td.title#support{
    padding-right: 50px;

}



footer td.subtitle{
    text-align: left;
    font-size: 20px;


}

a.noDecoration{
    text-decoration: none;
    color: black;

}

@media screen and (max-width:1709px) {
    footer{
        background-position-x:  95%, 10%, 28%, 50%, 74%, 96%;
        background-position-y:  20%, 90%, 88%, 88%, 89%, 91%;
    
        background-size: 250px, 100px, 150px, 150px, 150px, 200px;
    }
}

@media screen and (max-width:1504px) {
    footer{

        background-position-x:  99.5%, 10%, 28%, 50%, 74%, 96%;
        background-position-y:  30%, 90%, 88%, 88%, 89%, 91%;

        background-size: 200px, 100px, 150px, 150px, 150px, 200px;

    }
}

@media screen and (max-width:1253px) {
    footer{
        width: 100dvw;
        height: fit-content;
        background-position-x: 85%, 80%, 82%, 83%, 83%;

        background-position-y: 20px, 350px, 450px, 550px, 650px, 700px;

        
    }

    footer table{
        width: 50%;
        height: 300px;
        border-right: 1px solid black;
        margin-bottom: 0px;
        margin-right: 100px;
    }

    footer td.title#support{
        padding-right: 0px;
    }
}


@media screen and (max-width:1079px) {
    
    body{
        width: 100%;
    }

    div.container{
        width: 100%;
    }

    header {
        height: 50px;
        background-size: 50px;
    }
    header ul{
        margin-top: 1%;
    }

    header li{
        margin-left: 35px;
    }
    header li a{
        display: block;
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        text-align: center;
        line-height: 0px;
        font-weight: bolder;
        font-size: 70%;
        text-decoration: none;
    }

    main div#blue{
        width: 100dvw;
        height: fit-content;
        background-size: 300%;
        background-position-y: 50px;
    }

    div.whiteTextBalloon{
        margin-top: 15%;
        width: 35%;
        margin-bottom: 30px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    div.whiteTextBalloon h1{
        font-size: 30px;
        margin-bottom: 5%;
    }

    div.whiteTextBalloon h2{
        font-size: 20px;
    }

    main a#startnowGreen{
        width: 50%;
        height: 5%;
        font-size: 200%;
        margin-top: 7%;
        margin-bottom: 7%;
        
        margin-left: auto;
        margin-right: 22%;
        
    }

    main h1.title{
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 30px ;
    }

    main h2.subtitle{
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 20px ;

    }
    
    div.balloons{
        margin-top: -50px;
        margin-bottom: 300px;
    }

    div.blueTextBalloon, div.greenTextBalloon{
        width: 65%;
        margin-bottom: 500px;
        margin-right: 0px;
        float: left;
        font-size: 125%;
    }

    section#instructors{
        background-position-x: 50%;
        background-position-y: 100%;
        background-size: 600px;
        float: right;
    }
    
    section#interactiveExercises{
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
        background-size: 500px;
    
    }
    
    section#ia{
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
        float: right;
        background-size: 500px;
    
    
    }
    
    
    section#prizes{
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
        background-size: 500px;
    
    }

    main a#startnowBlue{
        width: 50%;
        height: 5%;
        font-size: 200%;
        
    }



}

@media screen and (max-width:600px) {


    :root{
        --CarrouselFlagSlide: 3;
    }

    header ul{
        margin-top: 3%;
    }

    header li{
        margin-left: 25px;
    }
    header li a{
        display: block;
        padding: 10px;
    }

    div.whiteTextBalloon{
        width: 60%;
    }

    div.languages{
        width: 240px;
    }
    div.language:not(:last-child){
        margin-right: 30px;;
    }

    div.language:first-child{
        transition: 1s;
       margin-left: calc(-90px * var(--CarrouselFlagAmount)); 
    }

    div.language img{
        width: 50px;
        height: 50px;
    }

    button#btnRight{
        float: right;
    
        margin-top: -60px;
        margin-right:  calc(50% - 200px);
    
    }
    
    button#btnLeft{
        float: left;
    
        margin-top: -60px;
        margin-left:  calc(50% - 200px);
    
    }

    main a#startnowGreen{
        width: 60%;
        border-radius: 50px;
        
        margin-right: 16%;
        
    }

    section#instructors{
        background-position-x: 50%;
        background-position-y: 75%;
        background-size: 400px;
        float: right;
    }
    
    section#interactiveExercises{
        background-position-x: 50%;
        background-position-y: 75%;
        background-size: 350px;
    
    }
    
    section#ia{
        background-position-x: 50%;
        background-position-y: 75%;
        float: right;
        background-size: 350px;
    
    
    }
    
    
    section#prizes{
        background-position-x: 50%;
        background-position-y: 75%;
        background-size: 350px;
    
    }

    main a#startnowBlue{
        width: 50%;
        font-size: 150%;
        
    }

    footer{
        width: 100dvw;
        height: fit-content;
        background-position-x: 90%, 85%, 90%, 93%, 93%, 100%;

        background-position-y: 20px, 350px, 450px, 550px, 650px, 700px;

        background-size: 150px, 100px, 150px, 150px, 150px, 200px;
        
    }

    footer table{
        width: 50%;
        height: 350px;
        border-right: 1px solid black;
        margin-bottom: 0px;
        margin-right: 100px;
    }

    footer td.title{
        font-size: 25px;
    }
    footer td.subtitle{
        font-size: 15px;
    }




}